<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'bootstrap_plugins/css_plugins/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login_page.css' %}">
</head>
<body>


<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Login</h3>
            <div class="card-text">

                <form action="javascript:void(0)">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email_input">Email address</label>
                        <input type="email" class="form-control form-control-sm" id="email_input"
                               aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="pwd_input">Password</label>
                        <input type="password" class="form-control form-control-sm" id="pwd_input">
                    </div>
                    <button id="signInBtn" class="btn btn-primary btn-block">Sign in<i class="login-spin"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'bootstrap_plugins/js_plugins/sweetalert.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jsLogic/login.js' %}"></script>

</body>
</html>