<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'bootstrap_plugins/css_plugins/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login_page.css' %}">
</head>
<body>

<!--modal reset password-->
<div id="reset_password_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="text-center">What's My Password ?</h6>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">

                                <p>If you have forgotten your password you can reset it here.</p><br>
                                <div class="panel-body">

                                    <div class="form-group">
                                        <input class="form-control input-lg" id="email_reset_pwd"
                                               placeholder="Enter Username"
                                               type="email">
                                    </div>
                                    <button class="btn btn-sm btn-primary btn-block" id="reset_password"
                                            style="padding: 12px;"
                                    >Send My Password
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Login</h3>
            <div class="card-text">

                <form action="javascript:void(0)">
                    <div class="form-group">
                        <label for="email_input">Email address</label>
                        <input type="email" class="form-control form-control-sm" id="email_input"
                               aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="pwd_input">Password</label>
                        <input type="password" class="form-control form-control-sm" id="pwd_input">
                    </div>
                    <button id="signInBtn" class="btn btn-primary btn-block">Sign in<i class="login-spin"></i>
                    </button>

                    {% comment %}<div class="sign-up">
                        <a href="javascript:void(0)" data-target="#reset_password_modal" data-toggle="modal"
                           style="float:right;font-size:12px;">Forgot password?</a>
                    </div>{% endcomment %}
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'bootstrap_plugins/js_plugins/sweetalert.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jsLogic/login.js' %}"></script>

</body>
</html>